*{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 10px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
    3px 4px 4px rgba(179, 147, 211, 0.15),
    4px 6px 4px rgba(179, 147, 211, 0.2),
    5px 8px 4px rgba(179, 147, 211, 0.25);
}
body {
    background-image: url("../img/fon1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.start {
    text-align: right;
    padding-right: 10px;
}
h2 {
    text-align: center;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    font-family: cursive;
    font-size: 50px;
}
span {
    opacity: 0.7;
    color: white;
}
h3 {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    font-family: cursive;
    font-size: 24px;
}
p{
    font-size: 20px;
    color: #fdfdfe;
}
h1 {
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    font-family: cursive;
}